.btn{
    &:link,
    &:visited{
        display: block;
        width: 20rem;
        text-transform: uppercase;
        color: var(--color-primary);
        background-color: var(--color-white);
        text-decoration: none;
        padding: 1.6rem;
        font-weight: 500;

        background-size: 250%;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary) 50%);
        transition: all .25s ease-out;
    }

    &:hover,
    &:active{
        background-position: 100%;
        color: var(--color-white);
        transform: translateX(1rem);
    }
}

.service__box{
    background-color: var(--color-lightgrey); 
    flex: 1 1 30%;
    &-title{
        color: var(--color-black);
        font-size: 2.3rem;
        padding: 3rem  6rem 3rem 0;
    }

    &:hover{
        background-color: var(--color-primary);
    }

    &:hover &-title{
        color: var(--color-white);
    }
}